<% include partials/header %>
  <h1>Add New User</h1>
  <form method="POST" action="/users/add">
    <% if(errors) { %>
      <ul>
        <% errors.forEach(error => { %>
          <li> <%= error.msg %> </li>
        <% }) %>
      </ul>
    <% } %>
    <label>Name<label><br />
    <input type="text" name="name"></input>
    <br />
    <label>Email<label><br />
    <input type="text" name="email"></input>
    <br />
    <label>Age<label><br />
    <input type="number" name="age"></input>
    <br />
    <input type="submit" value="Submit"></input>
  </form>
  <h1><%= title %></h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <%= user.name %> - <a href="#" class="delete-user" data-id="<%= user._id %>">Delete</a>
      </li>
    <% }) %>
  </ul>
<% include partials/footer %>
